
.text_items{
	text-align: center;
}
.top_items{
	border-style: solid;
	margin: auto;
	width: 50%;
}
#guess{
	margin: 25px;
}
#hint{
	background-color: white;
	margin: auto;
	width: 25%;
}
