body{
	background-image: url('../pictures/geometrics.jpg');
	background-position: center top;
}

th, td{
	text-align: left;
	border-top: 2px solid rgba(128,128,128,.2);
}

tr td{
	height: 20%;
	padding-top: 10px;
	padding-bottom: 10px;
}

tr th{
	padding-top: 10px;
	padding-bottom: 10px;
}

table{
	width: 100%;
}

.title{
	width: 15%;
}

.navbar-brand,
.nav.navbar-nav.navbar-right li a {
    color: white !important;
}

.job{
	padding-top: 3%;
}

#intro{
	margin-bottom: 0%;
	padding: 0px;
	background: #222;
	color: white;
}

#links, #projects, #experience{
	margin-top: 0%;
	margin-bottom: 0%;
	background: white;
}

#future{
	padding-top: 5%;
}

#MyMedia.tr.th{
	margin: 0%;
}

#messageTitle{
	padding-bottom: 3%;
}

#projectsTitle{
	padding-bottom: 3%;
}

#arrow{
	padding-bottom: 5%;
	text-align: center;
}

#name{
	color: white;
}
