header{
	padding: 20px;
}
header .row{
	display: flex;
	align-items: center;
}
header h1{
	margin: 0px;
}
header nav{
	display: flex;
	justify-content: flex-end;
}
header p{
	border: 1px solid black;
	border-width: 2px;
	padding: 10px;
	margin: 5px;
}
#summary{
	font-size: 1.5em;
}
